.card1 {
    margin-left: 160px;
    margin-right: 160px;
}

.card-info {
    background-color: white;
    width: 1100px;
    min-width: 380px;
    height: 500px;
    margin: 50px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 30px;
}

.card-info.themer {
    background: linear-gradient(to right, #12c2e95b, #c471ed, #f64f5a52);
}

.info-head {
    display: flex;
    justify-content: center;
}

.info-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.information {
    margin-left: 20px;
    width: 65%;
    min-width: 450px;
    display: flex;
    flex-direction: column;
}

p.head {
    font-size: 40px;
}

p.head.introduction {
    font-size: 20px;
}

p.introduction {
    display: flex;
    justify-content: flex-start;
}

.pictures {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
    margin-right: 50px;
}

img:nth-child(1).work-pictures {
    width: 100%;
    min-width: 134px;
}

img:nth-child(2).work-pictures {
    width: 65%;
    min-width: 87px;
}